@font-face {
	font-family: norwester;
	src: url(../fonts/norwester/norwester.otf);
}

@font-face {
	font-family: dosis;
	src: url(../fonts/dosis/Dosis-ExtraLight.otf);
}

@font-face {
	font-family: volkron;
	src: url(../fonts/Volkron/Volkron-Regular.ttf);
}

body {
	background-color: #333333;
	margin:0px;
	padding:0px;
}

#container {
	width:100%;
	max-width: 1200px;
	background-color: #FFFAEE;
	margin:0px auto;
}

#header-container {
	width:100%;
	position: relative;
	z-index: 10;
	border-bottom: 3px solid #FE8C24;
	/*background-color: blue;*/
}

#header-intro {
	position: relative;
	width:95%;
	max-width: 960px;
	margin:0px auto;
}

#header-intro h1 {
	color:#FFFAEE;
	font-family: norwester;
	margin:0px;
	position: absolute;
}

#header-nav {
	width:100%;
	height:60px;
	background-color: rgba(51, 51, 51, 0.7);
	position: relative;
	z-index: 100;
}

nav {
		width:95%;
		max-width: 960px;
		height:60px;
		margin:0px auto;
		position: relative;
}

#logo {
	position: absolute;
	height:60px;
	left:0px;
	top:0px;
}

	#logo h1 {
		position:absolute;
		top:0px;
		font-family: norwester;
		color:#FE8C24;
		margin:0px;
		padding:0px;
	}

	#logo h2 {
		margin:0px;
		font-family:dosis;
		color:#FFFAEE;
		position: absolute;
	}

	#menu {
		height:60px;
		margin: 0px;
		padding: 0px;
		position: absolute;
		top:0;
		right:0px;
	}

	#menu ul {
		display: inline-block;
		height:60px;
		margin:0px;
		padding-left:40px;
		float:right;
	}

	#menu ul li {
		display: inline-block;
		margin:0px 10px 0px 10px;
		padding:20px 0px 0px 0px;
		font-family: norwester;
		font-size: 20px;
		text-align: right;
		color:#FFFAEE;
	}

	#menu ul li:hover {
		border-bottom: 1px solid #FE8C24;
	}
	#menu a {
		text-decoration: none;
		color:#FFFAEE;
	}

	#mobile-menu-btn {
		position: absolute;
		top:0px;
		right:0px;
		height:60px;
		margin: 0px;
		padding: 0px;
	}

	#mobile-menu-btn span {
		position: absolute;
		right:60px;
		line-height: 60px;
		font-family: dosis;
		font-size: 22px;
		color:#FFFAEE;
	}

	#mobile-menu-icon {
		width:47px;
		height: 42px;
		border:2px solid #FFFAEE;
		position: absolute;
		right:0px;
		top:7px;
	}

	#mobile-menu-icon.orange {
		background-color: #FE8C24;
	}

	.mobile-menu-bar {
		width:42px;
		height:3px;
		margin:6px auto;
		background-color: #FFFAEE;
	}

	#mobile-menu {
		display: none;
		width:100%;
		position: absolute;
		top:60px;
		background-color: #333333;
		z-index: 40;
	}

	#mobile-menu ul {
		width:100%;
		margin:0px;
		padding:0px;
	}

	#mobile-menu ul li {
		width:100%;
		margin:10px 0px;
		font-size: 32px;
		font-family: norwester;
		text-align: center;
		border-bottom: 2px solid #FFFAEE;
	}

	#mobile-menu a {
		text-decoration: none;
		color:#FFFAEE;
	}

	#decor {
		border-bottom: 2px solid #333333;
		border-top:2px solid #333333;
		color:#333333;
		height:60px;
		width:100%;
		max-width: 960px;
		margin:0px auto;
		margin-bottom: 20px;
	}

	#decor span {
		height:30px;
		width:90%;
		display: block;
		margin:0px auto;
		border-bottom: 1px solid #FE8C24;
	}

	#decor img {
		display:block;
		width:150px;
		margin:0px auto;
		position: relative;
		bottom:30px;
		background-color: #FFFAEE;
		padding:0px 5px;
	}

	#content-container {
		width:95%;
		/*height:600px;*/
		max-width: 960px;
		/*background-color: blue;*/
	}

	#footer-container { 
		width:100%;
		height:200px;
		/*background-color: rgba(51, 51, 51, 0.9);*/
		background-color: #222222;
		border-top: 3px solid #FE8C24;
	}

	#footer-container a {
		text-decoration: none;
	}

	#footer {
		height:200px;
		width:95%;
		max-width: 960px;
		margin:0px auto;
		position: relative;
	}

	#social-icons {
		position: absolute;
		right:0px;
		bottom: 10px;
	}

	#social-icons a {
		margin-left:10px;
	}

	#footer-menu {
		/*width: 100%;*/
		height:40px;
		font-family: dosis;
		color:#FFFAEE;
		position: absolute;
		top:20px;
	}

	#footer-menu ul {
		padding:0px;
	}

	#footer-menu li {
		display: inline-block;
		color:#FE8C24;
		list-style-type: none;
		margin-right: 30px;
	}

	#footer-menu li:hover {
		border-bottom: 1px solid #FE8C24;
	}

	#footer-menu li a {
		color:#FFFAEE;
		text-decoration: none;

	}

@media only all and (max-width: 767px) {
	#logo img {
		width:35px;
		position: absolute;
		bottom: 0px;
		left:0px;
		margin: 0px;
	}

	#logo h1 {
		font-size: 26px;
		left:5px;
	}

	#logo h2 {
		font-size: 26px;
		color:#FFFAEE;
		left:38px;
		bottom:0px;
	}

	#menu {
		display: none;
	}

	#header-intro {
		height:80px;
	}

	#header-intro h1{
		bottom:20px;
		font-size: 32px;
	}

	#content-container {
		margin:20px auto;
	}

	#content {
		width: 94%;
		padding:3%;
	}

	#footer-menu li {
		display: block;
		margin-top: 10px;
	}
}

@media only all and (min-width: 768px) and (max-width: 969px) {
	#logo h1 {
		left:60px;
		line-height: 60px;
		font-size: 35px;
	}

	#logo h2 {
		font-size: 32px;
		top:0px;
		left:245px;
		line-height: 60px;
	}

	#menu {
		display: none;
	}

	#header-intro {
		height:150px;
	}

	#header-intro h1{
		bottom:20px;
		font-size: 42px;
	}

	#content-container {
		margin:30px auto;
	}

	#content {
		width: 96%;
		padding:2%;
	}
}

@media only all and (min-width: 970px) and (max-width: 1199px) {
	#logo h1 {
		left:60px;
		line-height: 60px;
		font-size: 35px;
	}

	#logo h2 {
		font-size: 32px;
		top:0px;
		left:245px;
		line-height: 60px;
	}

	#mobile-menu {
		display: none;
	}

	#mobile-menu-btn {
		display:none;
	}

	#header-intro {
		height:300px;
	}

	#header-intro h1{
		bottom:20px;
		font-size: 62px;
	}

	#content-container {
		margin:40px auto;
	}

	#content {
		width: 98%;
		padding:1%;
	}

}

@media only all and (min-width: 1200px) {
	#logo h1 {
		left:60px;
		line-height: 60px;
		font-size: 35px;
	}

	#logo h2 {
		display: inline-block;
		font-family: dosis;
		font-size: 32px;
		margin:0px;
		padding:0px;
		position: absolute;
		top:0px;
		left:245px;
		line-height: 60px;
		color:#FFFAEE;
	}

	#mobile-menu {
		display: none;
	}

	#mobile-menu-btn {
		display:none;
	}

	#header-intro {
		height:320px;
	}

	#header-intro h1{
		bottom:20px;
		font-size: 92px;
	}

	#content-container {
		margin:40px auto;
	}

	#content {
		width: 96%;
		padding:2%;
	}
}








